
<% for (const userName in data) { %>
    <% if (data.hasOwnProperty(userName)) { %>
        <div class="row mx-auto mt-4 mb-4">
            <div class="card m-0 p-0 with-card-usuario border-0">
              <div class="">
                <img
                  src="/<%= data[userName].Imagen %> "
                  class="card-img-top img-header-card-usuario-index card-img"
                  alt="..."
                />
              </div>
          
              <div class="">
                <div class="card-body-padding">
                  <h2 class="card-title">
                    <%= data[userName].NombresUsuario %> 
                    <%= data[userName].ApellidosUsuario %>
                  </h2>
                  <i class="bi bi-whatsapp text-success">
                    <span class="card-subtitle text-muted mb-2"
                      ><%= data[userName].Celular %></span
                    ></i
                  >
                </div>
              </div>
            </div>
          </div>
          
          <% for (const catalogo in data[userName].catalogos) { %>
            <a href="#<%- catalogo %>" class="btn  border mb-3 btn-nav-index-usuario"><%- catalogo %></a>
           <% } %>
          
            <% for (const catalogo in data[userName].catalogos) { %>
                
                <% if (data[userName].catalogos.hasOwnProperty(catalogo)) { %>
                    <h3 id="<%= catalogo %>">Catálogo: <%= catalogo %></h3>
                    <% const categorias = data[userName].catalogos[catalogo]; %>
                    <% for (const categoria in categorias) { %>
                        <% if (categorias.hasOwnProperty(categoria)) { %>
                            <h4>Categoría: <%= categoria %></h4>

                            <div class="row  my-3">
                                <% const productos = categorias[categoria]; %>
                                <% productos.forEach((producto) => { %>
                                    <div class="col-sm-4 col-md-4 col-lg-3">
                                        <div class="card mb-3 with-card">
                                            <img
                                                src="/<%= data[userName].Imagen %> "
                                                class="card-img-top img-header-card"
                                                alt="..."
                                                
                                            />

                                            <div class="card-body">
                                                <h4 class="card-title"><%= producto.NombreProducto %></h4>
                                                <p>Descripción:</p>
                                                <textarea
                                                    class="card-text form-control border-0 p-0"
                                                    rows="2"
                                                    readonly
                                                ><%= producto.Descripcion %></textarea>
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <p class="flex-grow-1 m-0">Precio: <%= producto.Precio %></p>
                                                    <h6 class="m-0 <%= producto.Disponibilidad ? 'text-success' : 'text-danger' %>">
                                                        <%= producto.Disponibilidad ? 'Disponible' : 'No Disponible' %>
                                                    </h6>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
    <% } %>
<% } %>





