<!DOCTYPE html>
<html lang="es">
  <%- include('includes/header') -%>
  <body>
    <%- include('includes/nav') -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('includes/sidebar') %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <h3 class="mt-3 mx-2">
            <%= typeof titulo !== 'undefined' ? titulo : "Productos" %>
          </h3>

          <% if (typeof body !== 'undefined') { %> <%- include(body) -%> <% } %>
        </main>
      </div>
    </div>

    <%- include('includes/footer') %>
    <script src="/js/sidebar.js"></script>
  </body>
</html>
